
<div class="container">
  <div class="row title">
    <div class="col-md-12 text-center"><h2>Leader board</h2></div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Camper Name</th>
          <th class="shorter" (click)="settTorecent()"><u>Point in past 30 days</u></th>
          <th class="shorter" (click)="setToAlltime()"><u>All time points</u></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let leader of leaders; let i=index;">
          <td>{{i+1}}</td>
          <td><div class="row">
            <div class="col-sm-4"><img src="{{leader.img}}" alt=""/></div>
            <div class="col-sm-8">
              <a target="_blank" href="http://freecodecamp.org/{{leader.username}}">{{leader.username}}</a>
            </div>
          </div></td>
          <td>{{leader.recent}}</td>
          <td>{{leader.alltime}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
